{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="burger-logo">
      <img src="{% static 'logo.png'%}">
    </a>
    <h1>Recipes</h1>
    <p>Because only the pure in heart can make a good soup.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/r3econ/recipes"><span class="glyphicon glyphicon-download"></span> Coming soon!</a>
  </div>
</div>
<div class="container">
   <div class="alert alert-info text-center" role="alert">
    Please be patient, the website is under heavy development.  
  </div>
</div>
{% endblock %}
