{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="page-header">
      <h1>
        Food recipes
        <small>Yes!</small>
      </h1>  
  </div>

  <div class="container">
    <div id="recipes" class="list-group">
      {% for recipe in recipes %}
      <div class="item  col-xs-4 col-lg-4">
          <div class="thumbnail">
              <img class="group list-group-image" src="http://lorempixel.com/400/250/food/" alt="" />
              <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                      {{ recipe.title }}
                  </h4>
                  <p class="group inner list-group-item-text">
                      {{ recipe.description }}
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
