{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">
    
  <!-- Page Heading -->
  <h1 class="my-4">{{ recipe.title }}</h1>
                
  <!-- Recipe Content Column -->
  <div class="col-lg-8">
    <hr>
      <!-- Preview Image -->
      <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
      <hr>
        <!-- Recipe description -->
        <p class="lead">{{ recipe.description }}</p>

        <!-- Serving count, cooking time etc -->        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Servings</th>
              <th>Prep time</th>
              <th>Cooking time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ recipe.serving_count }}</td>
              <td>{{ recipe.preparation_time }}</td>
              <td>{{ recipe.cooking_time }}</td>
            </tr>
          </tbody>
        </table>


        <!-- Ingredients -->
        <h4 class="my-4">Ingredients</h4>
        <p>{{ recipe.ingredient_info }}</p>

        <!-- Preparation -->
        <h4 class="my-4">Preparation</h4>
        <p>{{ recipe.preparation_info }}</p>
      
  </div>
                      
</div>
<!-- /.container -->
    
{% endblock %}